.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: rgb(12, 20, 12);
	
}

table td {
	border: 1px solid rgb(80, 202, 76);
	width: 100px;
	height: 100px;
	
}

button {
    width: 125px;
    margin: 10px auto 40px auto;
    background-color: rgb(109, 236, 136);
}

p {
	font-weight: thick;
	
  }
